<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fairpay</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    </head>
    <body class="grey lighten-4">
        <nav class="nav-bar">
            <div class="nav-wrapper grey lighten-1">
                <a href="/" class="brand-logo"><img src="/images/burning-red-logo.png" alt="Logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/signup">Sign-up</a></li>
                    <li><a href="/login">Log-in</a></li>
                    <li><a href="#">About-us</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <%- body -%>
        </div>

        <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: new google.maps.LatLng(40.4167,-3.70325),
          mapTypeId: 'terrain'
        });

        // var script = document.createElement('script');
        // script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        // document.getElementsByTagName('head')[0].appendChild(script);
     }

      window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }
    </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfB-KaiN3lTw450qk32BXDJaVIzmJ9CZk&callback=initMap"
        async defer></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>
