<div class="">
    <h3>Sign up</h3>
</div>
<% if (typeof(flash) != 'udefined' && flash.info) { %>
    <div class="">
        <%= flash.info %>
    </div>
<% } %>
<form class="" action="/signup" method="post">
    <div class="">
        <label for="username">User's name</label>
        <input type="text" name="username" value="<%= typeof user != 'undefined' && user.username ? user.username : '' %>">
    </div>
    <div class="">
        <label for="email">E-mail</label>
        <input type="text" name="email" value="<%= typeof user != 'undefined' && user.email ? user.email : '' %>">
    </div>
    <div class="">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= typeof user != 'undefined' && user.password ? user.password : '' %>">
    </div>
    <button type="submit" name="button">Sign up</button>
</form>
<p>Already have an account? <a href="/login">Log in!</a></p>
