<div class="">
    <h3>Sign up</h3>
</div>
<form class="" action="/signup" method="post">
    <div class="">
        <label for="username">User's name</label>
        <input type="text" name="username" value="">
    </div>
    <div class="">
        <label for="email">E-mail</label>
        <input type="text" name="email" value="">
    </div>
    <div class="">
        <label for="password">Password</label>
        <input type="text" name="password" value="">
    </div>
    <button type="submit" name="button">Sign up</button>
</form>
