<div class="row">
    <div class="col s12 about-us-text">
        <p>
            <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla tincidunt felis a enim pharetra, et rhoncus felis
            consectetur. Sed maximus lacinia aliquam. Sed ex lorem,
            hendrerit et nisi a, eleifend porttitor eros. Curabitur a
            fermentum nulla, non venenatis diam. Nunc iaculis blandit
            velit vel pellentesque. Nunc at metus urna. Pellentesque
            suscipit accumsan odio. Vivamus vitae dapibus ante. In
            imperdiet, libero nec imperdiet tempor, tellus neque
            volutpat dolor, at faucibus ante neque a diam. Donec
            vestibulum, elit accumsan congue posuere, magna lectus
            dignissim ipsum, eu placerat massa purus quis enim.
            Phasellus a faucibus odio.
            tellus mauris, accumsan nec justo tempor, ultrices maximus
            leo. Donec mi ex, commodo sed risus vel, placerat dignissim
            lorem. Pellentesque eleifend semper nisl, vitae consectetur
            felis dignissim id.
        </p>
    </div>
    <div class="col s12 about-us-text">
        <p>
            <b>Aliquam</b> sagittis, elit at euismod molestie, velit velit
            malesuada sem, vitae bibendum justo lacus vitae nibh.
            Integer luctus dictum aliquam. Ut nec leo faucibus,
            pulvinar mauris in, posuere est. Suspendisse potenti.
            Nullam dignissim mauris non tellus vulputate gravida.
            In ante mi, imperdiet quis neque vel, vestibulum lobortis
            purus. Donec quis eros quam. Donec tincidunt turpis a
            suscipit elementum. Praesent sodales elit vitae magna
            lacinia pretium sit amet in odio. Aliquam semper eros vel
            lacinia pellentesque. Integer auctor, dui ornare feugiat
            dictum, metus sem pellentesque dolor, eu mattis libero
            ante non nisl. Pellentesque vel vestibulum dolor. Nam
            vitae metus vel lacus imperdiet laoreet.
        </p>
    </div>
    <div class="col s12 center" id="version">
        <p>Version: 1.0.0</p>
    </div>
</div>

<div class="bubbles"></div>
<a class="bubble-toggle" href="#">Bubbles Off</a>

<script type="text/javascript" src="/javascripts/boobles.js"></script>
