<div class="row col s6 offset-s3">
    <form class="col s12" id="add-money-form" action="/pay" method="post">
        <div class="input-field col s2 offset-s5">
            <i class="material-icons prefix">attach_money</i>
            <label for="addMoney">Money to add</label>
            <input class="center" type="number" name="addMoney" value="0" min="0">
        </div>
        <div class="col s6 offset-s3">
            <button class="btn waves-effect waves-light grey z-depth-4 col s6 offset-s3" type="submit" name="button">Pay with Paypal<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>
