<div class="row">
    <div class="bet-header">
        <h2> <%=  %>Title </h2>
    </div>
    <div id="bet-live-result">
        <div id="left-result">
            <h1>0</h1>
        </div>
        <div class="">
            <h1>:</h1>
        </div>
        <div id="right-result">
            <h1>0</h1>
        </div>
    </div>
    <div class="bet-description">
        <p>
           Augue interdum velit euismod in pellentesque.
           Pretium aenean pharetra magna ac placerat vestibulum.
           Vitae sapien pellentesque habitant morbi tristique.
           Ornare suspendisse sed nisi lacus sed.
        </p>
    </div>
    <div class="bet-players">
        <div class="left-player">
            <h5>Cesar</h5>
            <h6>10 $</h6>
        </div>
        <div class="right-player">
            <h5>Marco</h5>
            <h6>10 $</h6>
        </div>
    </div>
    <div class="bet-location">
        <p>Mapa</p>
    </div>
</div>
