<div class="row">
    <div class="col s4 offset-s4 center">
        <img class="form-logo" src="/images/burning-red-logo.png" width="160px" alt="logo">
    </div>
    <div class="col s4 offset-s4 center">
        <h3>Create bet</h3>
    </div>
    <div class="row">
        <form class="col s12" id="create-bet" action="/betform" method="post">
            <div class="row col s6">
                <div class="input-field col s12">
                    <i class="material-icons prefix">create</i>
                    <label for="betName">Bet name</label>
                    <input type="text" name="betname">
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <label for="description">Bet description</label>
                    <input type="text" name="description">
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">attach_money</i>
                    <label for="money">Add money</label>
                    <input type="number" min="0" max="20" name="money" value="20">
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_location</i>
                    <label for="location">Location</label>
                    <input type="text" name="location" value="<%= typeof bet != 'undefined' && bet.location ? bet.location : '' %>">
                </div>
            </div>
            <div class="row col s6">
                <div class="input-field col s12">
                    <div id="map" class="set-bet-map"></div>
                </div>
            </div>
            <div class="row col s12">
                <button type="submit" class="btn waves-effect waves-light red col s2 offset-s5 z-depth-4" name="button">Create<i class="material-icons right">play_arrow</i></button>
            </div>
    </div>
    <div class="col s4 offset-s4 center">
        <hr>
        <p>Manage your <a href="/profile">profile</a></p>
    </div>
</div>
