<div>
    <div id="map" class="finder-map"></div>
</div>

<script type="text/javascript">
    initMap();

    var bets = <%- JSON.stringify(bets) %>;


    bets.forEach(bet => {
        addMarker(map, {lat: bet.location.coordinates[0], lng: bet.location.coordinates[1]}, bet.betname);
    })

    function addMarker(map, coords, title){
        new google.maps.Marker({
            position: coords,
            map: map,
            title: title
        });
    }
</script>
